
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Page d'administration{% endblock %}

{% block main %}

{% for menuItem in ea.mainMenu.items %}
    <h2>{{ menuItem.label|trans }}</h2>
    <ul>
        {% for subItem in menuItem.subItems %}
            <li>
                <a href="{{ subItem.linkUrl ?? path(subItem.routeName) }}">
                    {{ subItem.label|trans }}
                </a>
            </li>
        {% endfor %}
    </ul>
    
{% endfor %}
{% endblock %}
