<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('plugins/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        {% block stylesheets %}
        
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
            {% block menuHaut %}
                {% if app.user %}
                {{ include('menus/menu_haut.html.twig') }}
                {% else %}
                {{ include('menus/menu_haut_public.html.twig') }}
                {% endif %}
            {% endblock menuHaut %}

            {% block heroSection %}
                
            {% endblock heroSection %}
        </header>

            <main class="w-full min-h-[80vh] flex justify-center items-center flex-col">
                {% block contenuCentral %}
                    
                {% endblock contenuCentral %}
            </main>

            {% block menuBas %}
                {{ include('menus/menu_bas.html.twig') }}
            {% endblock menuBas %}
        {% endblock %}
    </body>
</html>
